<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order Numbers</title>

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body data-ng-app="app">
<div class="container">
<header>
    <div class="row">
        <nav class="teal accent-4">
            <div class="col s12">
                <div class="nav-wrapper">
                    <a href="javascript:void(0)" class="brand-logo">Ordernar Números</a>
                </div>
            </div>
        </nav>
    </div>
</header>
<main data-ng-controller="IndexCtrl">
    <div class="container">
        <div class="row">
            <form id="addForm" action="" class="col s12">
                <div class="row">
                    <div class="input-field col m4">
                        <input id="number" type="text" class="validate" data-ng-model="number"
                        data-ng-class="numberInvalid ? 'invalid' : ''" data-restrict-to="[0-9]" data-ng-focus="numberFocus">
                        <label for="number" data-error="{{numberInvalidMessage}}">Ingresar Número</label>
                    </div>
                    <div class="col s4">
                        <div class="input-field inline">
                            <button type="button" class="waves-effect waves-light btn grey darken-2" data-ng-click="addNumber()"><i class="material-icons right">add</i>Agregar</button>
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="input-field inline">
                            <button type="button" class="waves-effect waves-light btn grey darken-2" data-ng-click="initOrder()"><i class="material-icons right">filter_list</i>Ordenar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div id="panel-numbers" class="card-panel grey lighten-2"></div>
        </div>
        <div class="row">
            <div class="center-align">
                <a id="btn-clear" class="waves-effect waves-light btn teal accent-4" data-ng-click="clearNumbers()"><i class="material-icons right">clear</i>Limpiar</a>
            </div>
        </div>
    </div>
</main>


<footer>

</footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

<script src="index.js"></script>
</body>
</html>